{% extends 'bootstrap/base.html' %}

    {% block title %}
        {% if title %}Far Posts - {{ title }}{% else %}Welcome to Far Posts{% endif %}
    {% endblock %}

    {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href='{{ url_for("get_cards_rent_br") }}'>Far Posts</a>
            </div>

            {% if current_user.is_anonymous %}
            <!--     nothing       -->
            {% else %}
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{ url_for("get_cards_rent_br")}}'>Аренда нежилых помещений</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href='{{ url_for("get_cards_sell_br")}}'>Продажа нежилых помещений</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href='{{ url_for("get_cards_rent_land")}}'>Аренда земли</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href='{{ url_for("get_cards_sell_land")}}'>Продажа земли</a></li>
                  </ul>
                </li>
              </ul>

              <form class="navbar-form navbar-left" method="get">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search" name="search" value="{{ request.args.get('search', '').strip() }}">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                  <li><a style="padding-left: 30px" href='{{ url_for("logout") }}'>Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
            {% endif %}
          </div><!-- /.container-fluid -->
        </nav>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {% endblock %}
