{% extends 'base.html'%}

{% block content %}
    <h1>Rent Land</h1>
    <nav>
        <ul class="pagination">
            <li class="{% if not prev_url %} disabled {% endif %}">
                <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {% for page in pages.iter_pages() %}
                <li class="{% if page == pages.page %} active {% endif %}">
                    <a href="{{ url_for('get_cards_rent_land')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                </li>
            {% endfor %}
            <li class="{% if not next_url %} disabled {% endif %}">
                <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
    {% for card in pages.items %}
    <ul>
        <li>
            <img style="width: 150px; height: 150px" src="{{ card.photo.split('|')[0] }}">
            <p>{{ card.card_number }}</p>
            <p>{{ card.title }}</p>
            <p>{{ card.date_post }}</p>
            <p>{{ card.author_card }}</p>
            <p>{{ card.placement }}</p>
            <p>{{ card.size }}</p>
            <p>{{ card.price }}</p>
            <p>{{ card.contacts }}</p>
            <hr>
        </li>
    </ul>
    {% endfor %}
    <nav>
      <ul class="pagination">
          <li class="{% if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
          </li>
          {% for page in pages.iter_pages() %}
              <li class="{% if page == pages.page %} active {% endif %}">
                  <a href="{{ url_for('get_cards_rent_land')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
              </li>
          {% endfor %}
          <li class="{% if not next_url %} disabled {% endif %}">
              <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
          </li>
      </ul>
    </nav>
{% endblock %}