{% extends 'base.html'%}

{% block content %}
    <h1>Sell land</h1>
    {% for card in cards %}
    <ul>
        <li>
            <img style="width: 150px; height: 150px" src="{{ card.photo.split('|')[0] }}">
            <p>{{ card.card_number }}</p>
            <p>{{ card.title }}</p>
            <p>{{ card.date_post }}</p>
            <p>{{ card.author_card }}</p>
            <p>{{ card.placement }}</p>
            <p>{{ card.size }}</p>
            <p>{{ card.price }}</p>
            <p>{{ card.contacts }}</p>
            <hr>
        </li>
    </ul>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer cards</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older cards</a>
    {% endif %}
{% endblock %}