{% extends 'base.html'%}

{% block content %}
    <link href="{{ url_for('static', filename='css/cards.css') }}" rel='stylesheet' type='text/css' />
    <div class="container-fluid">
        <h2 class="cat_title"><span class="label label-danger">Rent</span>Land</h2>
        <nav class="nav_pagination">
            <ul class="pagination">
                <li class="{% if not prev_url %} disabled {% endif %}">
                    <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% for page in pages.iter_pages() %}
                    {% if page != None %}
                        <li class="{% if page == pages.page %} active {% endif %}">
                            <a href="{{ url_for('get_cards_rent_land')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#"> ... <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="{% if not next_url %} disabled {% endif %}">
                    <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="cards_container">
                <ul class="cards_list">
                    {% for card in pages.items %}
                    <li class="card_item">
                        <div class="info_container">
                            <div class="top_info">
                                <span class="label label-info card_number">№{{ card.card_number }}</span>
                                <span class="label label-warning card_date">{{ card.date_post }}</span>
                                <span class="label label-primary card_date"><span class="glyphicon glyphicon-eye-open eye_open" aria-hidden="true"></span>{{ card.views_info }}</span>
                            </div>
                            <p class="card_title"><a href="{{ card.link_obj }}">{{ card.title }}</a></p>

                            {% if card.price != 'Нет данных' %}
                                <div class="card_price_container">
                                    <p class="card_price">{{ card.price }} &#8381;</p>
                                    <p>{{ card.price_for_what }}</p>
                                </div>
                            {% endif %}

                            <p class="label label-primary card_author">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ card.author_card }}
                            </p>
                            <p class="contacts_label"><strong>Контакты:</strong></p>
                            <div class="contacts_container alert alert-warning">
                                {% for c in card.contacts.split('  ') %}
                                <p class="card_contacts">{{ c.replace('*', '').strip()}}</p>
                                {% endfor %}
                            </div>
                            {% if card.status != 'Нет данных' %}
                                <p class="card_exs"><strong>Статус:</strong> {{ card.status }}</p>
                            {% endif %}

                            {% if card.restrictions != 'Нет данных' %}
                                <p class="card_exs"><strong>Ограничения:</strong> {{ card.restrictions }}</p>
                            {% endif %}

                            {% if card.placement != 'Нет данных' %}
                                <p class="card_exs"><strong>Расположение:</strong> {{ card.placement }}</p>
                            {% endif %}

                            {% if card.size != 'Нет данных' %}
                                <p class="card_exs"><strong>Площадь участка:</strong> {{ card.size }} ( м&#178; )</p>
                            {% endif %}

                            {% if card.cadastr_number_f != 'Нет данных' %}
                                {% if card.cadastr_number_f == card.cadastr_number_s%}
                                    <p class="card_exs"><strong>Кадастровый номер:</strong> {{ card.cadastr_number_f }}</p>
                                {% else %}
                                    <p class="card_exs"><strong>Кадастровые номера:</strong> {{ card.cadastr_number_f }}, {{ card.cadastr_number_s }} </p>
                                {% endif %}
                            {% endif %}

                            <div class="card_comfort">
                                {% if card.electricity != 'Нет данных' %}
                                    <p class="card_exs alert alert-success"><strong>Электричество:</strong><span class="glyphicon glyphicon-thumbs-up thumbs-up " aria-hidden="true"></span></p>
                                {% endif %}

                                {% if card.roads != 'Нет данных' %}
                                    <p class="card_exs alert alert-success"><strong>Подъездные пути:</strong><span class="glyphicon glyphicon-thumbs-up thumbs-up " aria-hidden="true"></span></p>
                                {% endif %}

                                {% if card.water != 'Нет данных' %}
                                <p class="card_exs alert alert-success"><strong>Вода:</strong><span class="glyphicon glyphicon-thumbs-up thumbs-up " aria-hidden="true"></span></p>
                                {% endif %}
                            </div>

                        </div>
                        <div class="card_img_wrap">
                            <a href="#">
                                <img class="card_img" src="{{ card.photo.split('|')[0] }}" alt="Sorry, no photo">
                            </a>
                        </div>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <nav class="nav_pagination">
          <ul class="pagination">
              <li class="previous{% if not prev_url %} disabled {% endif %}">
                <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              {% for page in pages.iter_pages() %}
                    {% if page != None %}
                        <li class="{% if page == pages.page %} active {% endif %}">
                            <a href="{{ url_for('get_cards_rent_land')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#"> ... <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
              {% endfor %}
              <li class="next{% if not next_url %} disabled {% endif %}">
                  <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
          </ul>
        </nav>
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
{% endblock %}