{% extends 'base.html'%}

{% block content %}
    <link href="{{ url_for('static', filename='css/cards.css') }}" rel='stylesheet' type='text/css' v="1"/>
    <div class="container-fluid">
        <h2 class="cat_title"><span class="label label-primary">Rent</span>Business realty</h2>
        <nav class="nav_pagination">
            <ul class="pagination">
                <li class="{% if not prev_url %} disabled {% endif %}">
                    <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% for page in pages.iter_pages() %}
                    {% if page != None %}
                        <li class="{% if page == pages.page %} active {% endif %}">
                            <a href="{{ url_for('get_cards_rent_br')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#"> ... <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="{% if not next_url %} disabled {% endif %}">
                    <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="cards_container">
                <ul class="cards_list">
                    {% for card in pages.items %}
                    <li class="card_item">
                        <div class="top_info">
                            <span class="label label-info card_number">№{{ card.card_number }}</span>
                            <span class="label label-warning card_date">{{ card.date_post }}</span>
                            <span class="label label-primary card_date"><span class="glyphicon glyphicon-eye-open eye_open" aria-hidden="true"></span>{{ card.views_info }}</span>
                            <a href="#" class="label label-primary card_author"><span class="glyphicon glyphicon-user user" aria-hidden="true"></span>{{ card.author_card }}</a>
                        </div>
                        <div class="info_container">
                            {% if card.photo.split('|')[0] != 'Нет данных' %}
                                <div class="card_img_wrap">
                                    <img class="card_img" src="{{ card.photo.split('|')[0] }}" alt="Sorry, no photo">
                                </div>
                            {% else %}
                                <div class="card_img_wrap">
                                    <img class="card_img" src="{{ url_for('static', filename='img/no_photo.png') }}" alt="Sorry, no photo">
                                </div>
                            {% endif %}
                            <div class="info_wrap">
                                <p class="card_title"><a href="{{ url_for('cards_rent_br_extend', card_number=card.card_number) }}">{{ card.title }}</a></p>

                                <div class="container_more_info">
                                    <div class="container_exs">
                                        {% if card.region_address != 'Нет данных' %}
                                            <p class="card_exs_extend"><strong>Район:</strong><a href="#" class="exs exs_padd">{{ card.region_address }}</a></p>
                                        {% endif %}

                                        {% if card.street_address != 'Нет данных' %}
                                        <p class="card_exs_extend"><strong>Улица:</strong><a href="#" class="exs exs_padd">{{ card.street_address }}</a></p>
                                        {% endif %}

                                        {% if card.region_address != 'Нет данных' %}
                                            <p class="card_exs_extend"><strong class="exs_marg">Общая площадь:</strong>{{ card.size }} ( м&#178; )</p>
                                        {% endif %}
                                    </div>
                                    {% if card.price != 'Нет данных' %}
                                        <div class="card_price_container">
                                            <p class="card_price">{{ card.price }} &#8381;</p>
                                            <p>{{ card.price_for_what }}</p>
                                        </div>
                                    {% endif %}
                                    <div class="contacts_container">
                                        {% for c in card.contacts.split('  ') %}
                                            <a href="#" class="card_contacts">{{ c.replace('*', '').strip()}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <nav class="nav_pagination">
          <ul class="pagination">
              <li class="previous{% if not prev_url %} disabled {% endif %}">
                <a href="{{ prev_url or '#' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
              </li>
              {% for page in pages.iter_pages() %}
                    {% if page != None %}
                        <li class="{% if page == pages.page %} active {% endif %}">
                            <a href="{{ url_for('get_cards_rent_br')}}?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#"> ... <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
              {% endfor %}
              <li class="next{% if not next_url %} disabled {% endif %}">
                  <a href="{{ next_url or '#' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
              </li>
          </ul>
        </nav>
    </div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}