{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <h1>Sing <span class="label label-danger">IN</span></h1>
        <div class="row">
            <div>
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <p style="padding: 15px 0 0 0">Hello there! Newcomer? <a class="label label-primary" href='{{ url_for("register") }}'>Join</a></p>
    </div>
{% endblock %}